<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="org.springframework.web" level="WARN" />
    <logger name="com.dkirrane" level="INFO" />
    <logger name="org.apache.kafka" level="INFO" />
    <logger name="org.apache.kafka.clients.NetworkClient" level="DEBUG" />

</configuration>